<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal-auth.log"
      internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"></add>
  </extensions>

  <variable name="elasticsearchHost"
            value="${configsetting:name=NLog.ElasticSearch.Host}" />
  <variable name="elasticsearchUser"
            value="${configsetting:name=NLog.ElasticSearch.User}" />
  <variable name="elasticsearchPassword"
            value="${configsetting:name=NLog.ElasticSearch.Password}" />
  <variable name="elasticsearchIndex"
            value="${configsetting:name=NLog.ElasticSearch.Index}" />

  <targets async="true">

    <target xsi:type="ColoredConsole"
            name="Console"
            layout="${date:format=HH\:mm\:ss} ${level}: ${message} ${exception:format=toString,data}">
    </target>
    <target xsi:type="Null"
            name="Null" />

    <target xsi:type="ElasticSearch"
            name="ElasticSearch"
            uri="${elasticsearchHost}"
            requireAuth="true"
            username="${elasticsearchUser}"
            password="${elasticsearchPassword}"
            index="${elasticsearchIndex}">
      <layout xsi:type="JsonLayout" includeAllProperties="true">

        <attribute name="Time"
                   layout="${longdate}" />
        <attribute name="Level"
                   layout="${level:upperCase=true}" />
        <attribute name="Message"
                   layout="${message}" />
        <attribute name="Exception"
                   layout="${exception:format=toString,data}" />
        <attribute name="Name"
                   layout="general" />

        <attribute name="Logger"
                   layout="${logger}" />
       
        <attribute name="Thread"
                   layout="${threadid}" />
        <attribute name="Machine"
                   layout="${machinename}" />
        <attribute name="Pid"
                   layout="${processid}" />
        <attribute name="Pname"
                   layout="${processname}" />
      </layout>
    </target>
  </targets>

  <rules>

    <!-- Microsoft is spammy -->
    <logger minlevel="trace" writeTo="Null" final="true" name="Microsoft.*" />

    <logger name="*"
            minlevel="Trace"
            writeTo="ElasticSearch" />

    <logger name="*"
            minlevel="Trace"
            writeTo="Console" />

  </rules>
</nlog>